.issueCard {
    height: 350px;
    background-color: white;
    border-radius: .25rem;
    border: 1px solid darkgray !important;
    color: rgb(105, 105, 105);
    font-size: 1rem;
    position: relative;
}

.triangle {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 0;
    right: 16px;
    top: 1px;
    position: absolute;
    z-index: 100;
  }

.cardBox {
    margin-bottom: 3%; 
}

.titleContainer {
    margin: 0;
    background-color: rgb(66, 73, 78);
    color: white;
    padding: 5px 20px 5px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    word-wrap: break-word;
}

.title {
    margin-bottom: 5px;
    font-size: 1.30rem;
    font-weight: 400;
    font-family: 'Inter';
}

.textContainer {
    padding: 10px 20px 5px;
    border-bottom: 1px solid lightgray;
    height: 80%;
    overflow-y: auto;
    word-wrap: break-word;
}

.status {
    padding: 5px 20px;
    height: 20%;
    background-color: #f3f3f3;
    word-wrap: break-word;
    overflow: auto;
}

.persons {
    padding: 0 20px;
    color: rgb(110, 110, 110);
    word-wrap: break-word;
}

@media only screen and (max-width: 1024px) {
    /* Override bootstrap col-sm-3 */
    .cardBox { 
        flex: 0 0 33.333333% !important; 
        max-width: 33.333333% !important;
    }
}

@media only screen and (max-width: 768px) {
    /* Override bootstrap col-sm-3 */
    .cardBox {
        flex: 0 0 50% !important; 
        max-width: 50% !important;
    }
}

@media only screen and (max-width: 600px) {
    /* Override bootstrap col-sm-3 */
    .cardBox {
        flex: 0 0 100% !important; 
        max-width: 100% !important;
        margin-bottom: 7%;
    }
}