.navigation {
    background-color: rgb(46,61,84);
    padding: 1%;
}

.toolbar {
    background-color: #FAFAFA;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 15px;
}

.issueCount {
    border-radius: .25rem;
    width: 40px;
    text-align: center;
    margin: 0 5px;
    color: white;
    cursor: pointer;
}

.addBtn {
    color: rgb(108,117,125);
    font-size: 27px;
}

.issuesContainer {
    width: 100%;
    min-height: 1%;
    overflow-y: hidden;
    margin: 2% auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
background: #888;
}

::-webkit-scrollbar-thumb:hover {
background: #555; 
}
  